* {
  font-family: sans-serif;
  margin-right: 10px;
  margin-left: 10px;
}

h1 {
  color: #c253ea;
  text-align: center;
}

.inputs {
  text-align: center;
}

.inputbox1 {
  background-color: aquamarine;
  border-style: none;
  padding: 10px;
  color: #3a9d7c;
}

.addbutton {
  background-color: aquamarine;
  border-style: none;
  border-radius: 50%;
  margin-left: 10px;
  padding-top: 2px;
  padding-bottom: 4px;
}

.addbutton:hover {
  color: white;
}

ul {
  list-style: none;
}

.listitem {
  display: flex;
}

li {
  color: #3a9d7c;
}

.deletebutton {
  background-color: #c5cdca;
  border-style: none;
  padding: 3px;
  color: white;
  margin-left: 10px;
}

.deleteallbutton {
  background-color: #c5cdca;
  border-style: none;
  padding: 3px;
  color: white;
  margin-left: 10px;
}

.deleteallbutton:hover {
  color: darkslategrey;
}

.link {
  position: absolute;
  bottom: 30px;
}

.home {
  display: flex;
  flex-direction: column;
}

.homelink {
  margin-bottom: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
  background-color: #f5f999;
}

.homelink:hover {
  color: #c253ea;
}
